<div id="about">
    <div class="row mt-5">
        <hr>
        <div class="col-md-12 mt-3">
            <h1 class="fw-lg text-info"><u>About Me</u></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-header bg-dark">
                    <h4 class="text-white">
                        Education
                    </h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Muhoho High School -> 2014 - 2017 KCSE</li>
                        <li>KCA University -> 2018 - 2020 Diploma in Information and Technology</li>
                        <li>Moringa School -> 2021 Software Development(Full Stack)</li>
                    </ul>
                </div>
                <div class="card-footer bg-dark">
                    <p class="text-white">Am a current student at Moringa School</p>
                    <a href="https://moringaschool.com/" class="btn btn-outline-warning" target="_blank">View Moringa</a>
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-header bg-dark">
                    <h4 class="text-white">
                        Skills
                    </h4>
                </div>
                <div class="card-body">
                    <p>I'm proficient in the following technologies</p>
                    <ul>
                        <li>Git Collaboration</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>BOOTSTRAP</li>
                        <li>JAVASCRIPT(js vanilla, jquery, flask framework)</li>
                        <li>PYTHON(python vanilla, flask framework)</li>
                        <li>APIs</li>
                        <li>POSTGRESQL</li>
                        <li>Bash Script</li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-header bg-dark">
                    <h4 class="text-white">
                        Hobbies
                    </h4>
                </div>
                <div class="card-body">
                    <p>Apart from programming, I've got a couple hobbies like</p>
                    <ul>
                        <li>Playing Basketball</li>
                        <li>Playing Playstation</li>
                        <li>Reading interesting books</li>
                        <li>Hanging out with friends</li>
                        <li>Watching funny videos and memes</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>