<div id="projects">
    <div class="row mt-5">
        <hr>
        <div class="col-md-12 mt-3">
            <h1 class="text-info"><u>Projects</u></h1>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-header bg-dark">
                    <h5 class="text-white">FundizShop</h5>
                </div>
                <div class="card-body">
                    <p>A site where users can buy household furniture and make payments through mpesa and paypal.
                    </p>
                    <p>The site has been developed using HTML, CSS, Bootstrap, Django Oscar and Postgresql</p>
                    <p class="text-muted">Developed by: <a href="Benjamin Obafemi">Benjamin Obafemi</a>, <a
                            href="https://github.com/Paul-Ngigi">Paul Ngigi</a>, <a
                            href="https://github.com/Wakarende">Joy Kirii</a>, <a
                            href="https://github.com/MaryamMuchai">Maryam Muchai</a> and <a
                            href="https://github.com/Alvin-21">Alvin
                            Owour</a></p>
                </div>
                <div class="card-footer bg-dark">
                    <a href="https://fundizshop.herokuapp.com/catalogue/" class="btn btn-outline-info"
                        target="_blank">View Site</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-header bg-dark">
                    <h5 class="text-white">Instagram Clone</h5>
                </div>
                <div class="card-body">
                    <p>This is a site representing instagram's clone
                    </p>
                    <p>The site id developed using HTML, CSS, Bootstrap, Python(Django), Bash</p>
                    <p class="text-muted">Developed by: Paul Ngigi</p>
                </div>
                <div class="card-footer bg-dark">
                    <a href="https://instagram03068.herokuapp.com/" class="btn btn-outline-info" target="_blank">View
                        Site</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-header bg-dark">
                    <h5 class="text-white">Awards</h5>
                </div>
                <div class="card-body">
                    <p>A site where users can post their projects and the projects get rated by other users
                    </p>
                    <p>The site id developed using HTML, CSS, Bootstrap, Python(Django), Postgresql, Bash</p>
                    <p class="text-muted">Developed by: Paul Ngigi</p>
                </div>
                <div class="card-footer bg-dark">
                    <a href="https://p-awards7.herokuapp.com/" class="btn btn-outline-info" target="_blank">View
                        Site</a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-header bg-dark">
                    <h5 class="text-white">Github Search</h5>
                </div>
                <div class="card-body">
                    <p>The site is developed using <a href="https://github.com">Github</a> api to enable users search
                        for
                        other people's github accounts and repositories.
                    </p>
                    <p>The site id developed using HTML, CSS,, Bootstrap, Typescript(Angular) and Javascript</p>
                    <p class="text-muted">Developed by: Paul Ngigi</p>
                </div>
                <div class="card-footer bg-dark">
                    <a href="http://github-search1.netlify.app" class="btn btn-outline-info" target="_blank">View
                        Site</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-header bg-dark">
                    <h5 class="text-white">Moringa Hospital</h5>
                </div>
                <div class="card-body">
                    <p>This is a hospital website which the hospital staff can add new patients and book appointments
                        for the patients.
                    </p>
                    <p>The site id developed using HTML, CSS, Bootstrap and Javascript(Jquery)</p>
                    <p class="text-muted">Developed by: <a href="https://github.com/Paul-Ngigi">Paul Ngigi</a>,<a href="https://github.com/Mulinga">Charles
                            Mulinga</a> <a href="https://github.com/melissa-koi">Melissa Koi</a> and <a href="https://github.com/Evilac">Evilac</a></p>
                </div>
                <div class="card-footer bg-dark">
                    <a href="https://mulinga.github.io/group17hospital/" class="btn btn-outline-info"
                        target="_blank">View Site</a>
                </div>
            </div>
        </div>



        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-header bg-dark">
                    <h5 class="text-white">Delani Studio</h5>
                </div>
                <div class="card-body">
                    <p>Delani Studio is a site that potrays a software development company website which advertises
                        their
                        services.
                    </p>
                    <p>The site id developed using HTML, CSS, Bootstrap and Javascript(Jquery)</p>
                    <p class="text-muted">Developed by: Paul Ngigi</p>
                </div>
                <div class="card-footer bg-dark">
                    <a href="https://paul-ngigi.github.io/Delani-Studio/" class="btn btn-outline-info"
                        target="_blank">View Site</a>
                </div>
            </div>
        </div>

    </div>
</div>