<div id="home">
    <div class="landing">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/paul.jpg" alt="Paul" class="myPic">
            </div>
            <div class="col-md-6 mt-5">
                <h2><span class="greeting">Hello,</span></h2>
                <h2>am <span class="author">Paul Ngigi,</span>
                </h2>
                <h2>and I'm a <span class="career">software developer.</span></h2>
                <blockquote class="blockquote text-center mt-5">
                    <p class="mb-0">"{{quote.quote}}"</p>
                    <footer class="text-muted"><cite>{{quote.author}}</cite></footer>
                  </blockquote>
            </div>
        </div>
    </div>
</div>