<div id="services">
    <div class="row mt-5">
        <hr>
        <div class="col-md-12 mt-3">
            <h1 class="fw-lg text-info"><u>Services</u></h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 lh-5">
            <img src="../../../assets/images/design_icon.png" alt="">
            <h5 class="mt-2">Web Design</h5>
            <p class="mt-2">I'm good at developing User Interface(UI) design using the Figma platform</p>
        </div>
        <div class="col-md-4">
            <img src="../../../assets/images/dev_icon.png" alt="">
            <h5 class="mt-2">Web Development</h5>
            <p class="mt-2">I develop sites using angular framework as my frontend tool and python flask to
                develop the backend.
            </p>
        </div>
        <div class="col-md-4">
            <img src="../../../assets/images/product_icon.png" alt="">
            <h5 class="mt-2">Web Hosting</h5>
            <p class="mt-2">I'm good in hosting web applicationns using Github, Netlify and Heroku</p>
        </div>
    </div>
</div>